<div class="empower  m-t-15">
    <div class="e-b">
        <div class="e-b-t">
            授权微信小程序
        </div>
        <div class="e-b-i">
            <p><span class="circle"></span> 将您的小程序授权给平台，系统会自动帮您生成对应的小程序代码，之后您就可以拥有“一键提交”功能。无需任何复杂操作，直接拥有属于您自己的微信小程序</p>
            <div class="e-b-i-a bottomButon m-t-10" onclick="authorize()">
                一键授权
            </div>
            <p class="e-b-i-c">
                <input type="checkbox" name="automatic" title="模板自动更新" lay-skin="primary" value="1" checked>
            </p>
        </div>
    </div>
</div>
<div class="saveBottomBar m-t-15 clear">
    <div class="buttonBox f-r">
        <div id="configure" class="bottomButon">去配置</div>
        <div id="previous_step" class="bottomButon m-l-10">上一步</div>
        <div id="next_step" class="bottomButon m-l-10">下一步</div>
    </div>
</div>
<script>
    function authorize() {
        var automatic = $('input[name="automatic"]:checked').val();
        automatic = automatic ? automatic : 0;
        var current = localStorage.getItem("app_type");
        window.location = '{pigcms::U("oauth",array("token"=>$token))}&automatic=' + automatic + '&app_type=' + current;
    }

    $(document).ready(function() {
        var current = localStorage.getItem("app_type");

        if (current == null) {
            window.location = '{pigcms::U("index",array("token"=>$token))}&type=' + prev;
        }

        layui.use('form', function() {
            var form = layui.form;

            form.on('radio(type)', function(data) {
                var e = data.elem;

                $(e).parents('.d-f-s').parent('li').addClass('selected').siblings().removeClass('selected');
            });
        });
    });
</script>
