<div class="auth_info m-t-15"></div>
<script id="auth_template" type="text/html">
    <div class="t-b">
        <div class="line f-l"></div>版本状态 {{# if(d.auth.commit.id > 0){ }}
        <div class="t-b-t bottomButon m-l-10 t-b-t-l" onclick="submit_audit(1)">
            提交审核
        </div>
        {{# } }} {{# if(d.auth.submit.status == 1){ }}
        <div class="t-b-t bottomButon m-l-10 t-b-t-l" onclick="submit_audit(2)">
            重新提交审核
        </div>
        {{# } }} {{# if(d.update > 0){ }}
        <div class="t-b-t bottomButon m-l-10 t-b-t-l" onclick="update_tpl()">
            模板更新
        </div>
        {{# } }}
        <div class="clearfix"></div>
    </div>
    <div class="a-c m-t-20">
        <div class="a-c-l m-b-30">
            <ul>
                <li>
                    <div class="i-b-l f-l">线上版本：</div>
                    <div class="i-b-r f-r">
                        {{# if(d.auth.release.id > 0){ }}{{ d.auth.release.version }}{{# } else { }}尚未发布线上版本{{# } }}
                    </div>
                    <div class="clearfix"></div>
                </li>
                {{# if(d.auth.release.id > 0){ }}
                <li>
                    <div class="i-b-l f-l">发布时间：</div>
                    <div class="i-b-r f-r">
                        {{# d.auth.release.time = getLocalTime(d.auth.release.time,'yyyy-MM-dd hh:mm:ss'); }} {{ d.auth.release.time }}
                    </div>
                    <div class="clearfix"></div>
                </li>
                {{# } }}
            </ul>
        </div>
        <div class="a-c-l m-b-30">
            <ul>
                <li>
                    <div class="i-b-l f-l">审核版本：</div>
                    <div class="i-b-r f-r">
                        {{# if(d.auth.submit.id > 0){ }}{{ d.auth.submit.version }}{{# } else { }}暂无新的提交{{# } }}
                    </div>
                    <div class="clearfix"></div>
                </li>
                {{# if(d.auth.submit.id > 0){ }}
                <li>
                    <div class="i-b-l f-l">审核状态：</div>
                    <div class="i-b-r f-r">
                        {{# if(d.auth.submit.status == 2){ }}
                        <font color="green">审核中</font>
                        {{# } }} {{# if(d.auth.submit.status == 1){ }}
                        <font color="red">审核失败</font>
                        <p style="font-weight: 400;line-height: 24px;font-size: 12px;text-align: left;">
                            <font color="red">失败原因</font>：{{ d.auth.submit.reason }}</p>
                        {{# } }}
                    </div>
                    <div class="clearfix"></div>
                </li>
                {{# } }}
            </ul>
        </div>
        <div class="a-c-l">
            <ul>
                <li>
                    <div class="i-b-l f-l">开发版本：</div>
                    <div class="i-b-r f-r">
                        {{# if(d.auth.commit.id > 0){ }}{{ d.auth.commit.version }}{{# } else { }}尚未提交开发版本{{# } }}
                    </div>
                    <div class="clearfix"></div>
                </li>

                {{# if(d.auth.commit.id > 0){ }}
                <li>
                    <div class="i-b-l f-l">更新时间：</div>
                    <div class="i-b-r f-r">
                        {{# d.auth.commit.time = getLocalTime(d.auth.commit.time,'yyyy-MM-dd hh:mm:ss'); }} {{ d.auth.commit.time }}
                    </div>
                    <div class="clearfix"></div>
                </li>
                {{# } }}
            </ul>
        </div>
    </div>
</script>
<script id="submit_template" type="text/html">
    <div class="submit_box">
        <p>
            <span class="circle"></span>您将提交审核，选择的类目必须是您已配置过的分类。 未配置的类目，请于“微信小程序后台”进行相应配置。
            <font color="red">（最多可以选择5个类目）</font>&nbsp;&nbsp;&nbsp;&nbsp;
            <font color="green">如果您选择了其他行业，请在微站小程序里设置页面内容</font>
        </p>
        <div class="submit_main m-t-15">
            <form action="" id="submit_form">
                <ul>
                    {{# layui.each(d.category, function(index, item){ }}
                    <li class="clear">
                        {{# var serial = sequence[index]; }}
                        <p class="serial">类目{{ serial }}</p> {{ item.first_class }} > {{ item.second_class }} {{# if(item.third_class){ }} > {{ item.third_class }}{{# } }}
                        <input type="hidden" name="category[]" value="{{ item.first_class }};{{ item.second_class }}{{# if(item.third_class){ }};{{ item.third_class }}{{# } }}">
                        <div class="tag f-r">
                            选择功能：
                            <select name="tags[]">
                            {{# layui.each(d.tags, function(index_t, item_g){ }}
                            <option value="{{ item_g.id }}">{{ item_g.title }}</option>
                            {{# }); }}
                        </select>
                            <button class="layui-btn layui-btn-sm layui-btn-primary" onclick="del_page(this)"><i class="layui-icon">&#xe640;</i></button>
                        </div>
                    </li>
                    {{# }); }}
                </ul>
            </form>
        </div>
        <div class="submit_button">
            <button class="layui-btn" style="background-color: rgba(68, 181, 73, 1);" onclick="applet_submit()">提交审核</button>
        </div>
    </div>
</script>
<div class=" saveBottomBar m-t-15 clear">
    <div class="buttonBox f-r">
        <div id="configure" class="bottomButon">去配置</div>
        <div id="again_auth" class="bottomButon m-l-10">重新授权</div>
        <div id="previous_step" class="bottomButon m-l-10">上一步</div>
        <div id="next_step" class="bottomButon m-l-10">下一步</div>
    </div>
</div>
<script>
    var submit_type;
    var submit_index;
    var sequence = ['一', '二', '三', '四', '五', '六', '七', '八', '九', '十', '十一', '十二', '十三', '十四', '十五', '十六', '十七', '十八', '十九', '二十', '二十一', '二十二', '二十三', '二十四', '二十五', '二十六', '二十七', '二十八', '二十九', '三十'];

    $(document).ready(function() {
        layui.use(['laytpl'], function() {
            var laytpl = layui.laytpl;

            var template = function(data) {
                ajax('{pigcms::U("get_auth_info",array("token"=>$token))}', null, function(res) {
                    if (res.status) {
                        laytpl($('#auth_template').html()).render(res.data, function(html) {
                            $('.auth_info').html(html);
                        });
                    } else {
                        layer.open({
                            type: 1,
                            title: '错误提示',
                            skin: 'layui-layer-demo', //样式类名
                            closeBtn: 1, //不显示关闭按钮
                            anim: 2,
                            area: ['353px', '180px'],
                            shadeClose: false, //开启遮罩关闭
                            content: '<div style="text-align:center; color:red;line-height:130px;">' + res.info + '</div>'
                        });
                    }
                });
            }
            template();

            var update_tpl = function() {
                var index = layer.confirm('您将要更新模板', function() {
                    ajax('{pigcms::U("update_tpl",array("token"=>$token))}', null, function(res) {
                        layer.alert(res.info);
                        if (res.status == 1) {
                            layer.close(index);
                            template();
                        }
                    });
                });
            }

            var submit_audit = function(type) {
                l('submit_audit', 'open');
                if (type == 1) {
                    var t = '您将要提交审核';
                } else if (type == 2) {
                    var t = '您将要重新提交审核';
                }

                submit_type = type;

                ajax('{pigcms::U("get_submit_param")}', null, function(res) {
                    laytpl($('#submit_template').html()).render(res, function(html) {
                        submit_index = layer.open({
                            type: 1,
                            shadeClose: false,
                            shade: 0.3,
                            title: '提示 : ' + t,
                            skin: 'layui-layer-rim', //加上边框
                            area: ['700px', '450px'],
                            content: html
                        });
                        l('submit_audit', 'close');
                    });
                });
            }

            var del_page = function(e) {
                var n = $('.submit_box .submit_main ul li').length;
                if (n <= 1) {
                    layer.alert('最少添加一项');
                    return false;
                }

                $(e).parents().parent('li.clear').remove();
                page_sort();
            }

            var page_sort = function() {
                $('.submit_box .submit_main ul li').each(function(i, e) {
                    var w = sequence[i];
                    $(e).find('p.serial').html('类目' + w);
                });
            }

            var applet_submit = function() {
                l('applet_submit', 'open');
                var data = $('#submit_form').serialize();

                ajax('{pigcms::U("choice_page")}&type=' + submit_type, data, function(res) {
                    layer.alert(res.info);

                    if (res.status == 1) {
                        layer.close(submit_index);
                        template();
                    }
                    l('applet_submit', 'close');
                });
            }

            window.applet_submit = applet_submit;
            window.del_page = del_page;
            window.update_tpl = update_tpl;
            window.submit_audit = submit_audit;
        });
    });
</script>
