<div class="tips m-15">
    <div class="t-f clear">
        <div class="t-f-t">温馨提示<span>:</span></div>
        <div class="t-f-c">
            <p>1、请根据自身需求<span class="strong">选择主页</span>，如若选择错误后期也可进行<span class="strong">变更</span></p>
            <p>2、<span class="strong">未配置</span>的内容可根据类目在<span class="strong">左侧菜单</span>，进行相对应的配置</p>
        </div>
    </div>
</div>
<div class="demonstrate">
    <div class="d-f">
        <script id="app_type" type="text/html">
            <ul class="clearfix">
                {{# layui.each(d.list, function(index, item){ }}
                <li {{# if(current == item.id){ }}class="selected" {{# } }}>
                    <div class="d-f-t">
                        <span class="t">{{ item.title }}</span>
                        <img src="{{ item.image }}" />
                    </div>
                    <div class="d-f-s m-t-20">
                        <input type="radio" value="{{ item.id }}" name="type" {{# if(current == item.id){ }}checked {{# } }} lay-filter="type">
                        <span class="t"><i class="station"></i>{{ item.title }}</span>
                    </div>
                    <div class="d-f-i m-t-20">
                        {{ item.info }}
                    </div>
                </li>
                {{# }); }} {{# if(d.list.length === 0){ }} 无数据 {{# } }}
            </ul>
        </script>
    </div>
</div>
<div class="saveBottomBar m-t-15 clear">
    <div class="buttonBox f-r">
        <div id="configure" class="bottomButon">跳过，直接去配置</div>
        <div id="next_step" class="bottomButon m-l-10">下一步</div>
    </div>
</div>
<script type="text/javascript">
    var current = localStorage.getItem("app_type");
    $(document).ready(function() {
        $("#configure,#next_step").click(function() {
            var app_type = $('input[name="type"]:checked').val();

            if (app_type == undefined) {
                layer.alert('请选择一项小程序类型');
                return false;
            }

            localStorage.setItem("app_type", app_type);
        });

        layui.use(['form'], function() {
            var form = layui.form;

            ajax('{pigcms::U("get_type",array("token"=>$token))}', null, function(data) {
                var res = $('#app_type');
                laytpl(res.html()).render(data, function(html) {
                    res.before(html).remove();
                    form.render();
                });
            });

            form.on('radio(type)', function(data) {
                var e = data.elem;

                $(e).parents('.d-f-s').parent('li').addClass('selected').siblings().removeClass('selected');

                ajax('{pigcms::U("app_type",array("token"=>$token))}', {
                    'app_type': data.value
                });
            });
        });
    });
</script>
