<link href="./tpl/static/dropzone/dropzone.css" rel="stylesheet">
<script src="./tpl/static/dropzone/dropzone.js"></script>
<div class="configure m-t-15 c-l">
    <div class="c-m">
        <ul>
            <li><span style="width:150px;">商户号(mch_id)</span>: <input name="mchid" type="text" value="{pigcms:$applet.mchid}" fill_in-name="商户号" class="px is_fill_in" style="width:220px;height:25px"></li>
            <li style="margin-top:15px;"><span style="width:150px;">API密钥</span>: <input name="apikey" type="text" value="{pigcms:$applet.apikey}" fill_in-name="API密钥" class="px is_fill_in" style="width:220px;height:25px"></li>
            <li style="margin-top:15px;"><span style="width:150px;color:green;">温馨提示</span>: <span style="width: 329px;text-align: left;color:red;">如果您没有上传配置对应商户号的下面三个证书文件，您的小程序微信支付将无法正常退款</span></li>
            <li style="margin-top:15px;">
                <span style="width:150px;">apiclient_cert私钥文件</span>:
                <input name="apiclient_cert" type="text" value="{pigcms:$applet.apiclient_cert}" class="px" style="width:220px;height:25px" readonly="readonly">
                <div class="dropz dz-clickable">文件上传</div>
            </li>
            <li style="margin-top:15px;">
                <span style="width:150px;">apiclient_key公钥文件</span>:
                <input name="apiclient_key" type="text" value="{pigcms:$applet.apiclient_key}" class="px" style="width:220px;height:25px" readonly="readonly">
                <div class="dropz dz-clickable">文件上传</div>
            </li>
            <li style="margin-top:15px;">
                <span style="width:150px;">CA证书文件</span>:
                <input name="rootca" type="text" value="{pigcms:$applet.rootca}" class="px" style="width:220px;height:25px" readonly="readonly">
                <div class="dropz dz-clickable">文件上传</div>
            </li>
        </ul>
    </div>
    <div class="c-t m-b-15">
        <div class="c-t-q bottomButon pay_submit">
            确认
        </div>
        <!--div class="c-t-c bottomButon cancel m-l-10">
            取消
        </div-->
    </div>
</div>
<div class="saveBottomBar m-t-15 clear">
    <div class="buttonBox f-r">
        <div id="configure" class="bottomButon">去配置</div>
        <div id="previous_step" class="bottomButon m-l-10">上一步</div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.pay_submit').click(function(){
            var is_fill_in_num = $(".is_fill_in").length,
    			is_lock = 0,
    			msg = '';
    		if(is_fill_in_num > 0){
    			$(".is_fill_in").each(function(i,e){
    				if(is_lock == 0 && $(e).val() == ''){
    					is_lock = 1;
    					msg = $(e).attr('fill_in-name')+'必填';
    				}
    			});
    		}
    		if(is_lock == 1){
    			layer.alert(msg);
    			return false;
    		}

    		var data = $('.layui-form').serialize();
    		ajax('/index.php?g=User&m=Applet&a=update&token={pigcms:$token}',data,function(result){
    			layer.alert(result.info);
    		});
        });

        $(".dropz").dropzone({
            url: "{pigcms::U('Alipay_cert/localupload',array('type'=>'wxsmall'))}",
            addRemoveLinks: false,
            maxFilesize: 1,
            acceptedFiles: ".pem",
            uploadMultiple: false,
            init: function() {
                this.on("success", function(file, responseText) {
                    var rept = $.parseJSON(responseText);
                    /***这里的this.element 是 $(".dropz")****/
                    if (rept.error > 0) {
                        $s.error(rept.msg);
                    } else {
                        $(this.element).siblings('input').val(rept.msg);
                        $(this.element).siblings('input').attr('readonly', 'readonly');
                    }
                    $(this.element).find('.dz-file-preview').remove();
                });
            }
        });
    });
</script>