<div class="auth_info m-t-15">
    <div class="i-b f-l">
        <div class="t-b">
            <div class="line f-l"></div>授权信息
            <div class="clearfix"></div>
        </div>
        <div class="i-b-b">
            <ul>
                <li class="i-b-i">
                    <div class="i-b-l f-l">小程序二维码：</div>
                    <div class="i-b-r f-r laytpl" data-url="{pigcms::U('get_applet_qrcode',array('token'=>$token))}" data-param='{"width" : 200, "type" : "C"}'>
                        <img id="img" width="120" style="border-radius: 10px;cursor:pointer;" src="{{ d.applet_qrcode }}" onclick="picture(this)" title="小程序二维码(可点击放大)">
                        <br/>
                        <div class="bottomButon i-b-r-q m-t-10" onclick="get_qrcode()">获取体验二维码</div>
                    </div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="i-b-l f-l">名称：</div>
                    <div class="i-b-r f-r">{pigcms:$applet.nick_name}</div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="i-b-l f-l">APPID：</div>
                    <div class="i-b-r f-r">{pigcms:$applet.appid}</div>
                    <div class="clearfix"></div>
                </li>
                <li>
                    <div class="i-b-l f-l">主体信息：</div>
                    <div class="i-b-r f-r">{pigcms:$applet.principal_name}</div>
                    <div class="clearfix"></div>
                </li>
                <if condition="$error_msg">
                    <li style="color:red;">
                        <div class="i-b-l f-l">错误提示：</div>
                        <div class="i-b-r f-r">{pigcms:$error_msg}</div>
                        <div class="clearfix"></div>
                    </li>
                </if>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="saveBottomBar m-t-15 clear">
    <div class="buttonBox f-r">
        <div id="configure" class="bottomButon">去配置</div>
        <div id="again_auth" class="bottomButon m-l-10">重新授权</div>
        <div id="previous_step" class="bottomButon m-l-10">上一步</div>
        <div id="next_step" class="bottomButon m-l-10">下一步</div>
    </div>
</div>
<div class="experiencer m-t-15 c-l">
    <div class="t-b">
        <div class="line f-l"></div>体验者列表<a href="javascript:addExperiencer()" class="it-btn m-l-15 bottomButon t-b-b">绑定</a>
        <div class="clearfix"></div>
    </div>
    <div class="t-l m-t-15">
        <table class="layui-table" lay-data="{url:'{pigcms::U('experiencer')}', id:'experiencer',cellMinWidth:100,response: {statusName: 'status',statusCode: 1,msgName: 'info',countName: 'count',dataName: 'data'}}" lay-filter="test">
            <thead>
                <tr>
                    <th lay-data="{field:'id', sort: true}">序号</th>
                    <th lay-data="{field:'wecha_id'}">微信号</th>
                    <th lay-data="{field:'nick_name'}">昵称备注</th>
                    <th lay-data="{field:'time', templet: '#time_convert'}">时间</th>
                    <th lay-data="{toolbar: '#barDemo', align:'center'}">操作</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script type="text/html" id="time_convert">{{getLocalTime(d.time,'yyyy-MM-dd hh:mm:ss')}}</script>
<script type="text/html" id="barDemo">
    <a class="t-l-b bottomButon" lay-event="del">删除</a>
</script>
<script type="text/template" id="add_experiencer">
    <div style="width:380px;margin:20px auto;" class="applet_box">
        <form class="applet" action="">
            <ul>
                <li><span><i style="position: relative; top: 3px;right: 5px;color:red;">*</i>微信号</span>: <input name="wecha_id" type="text" value="{ wecha_id }" fill_in-name="微信号" class="px is_fill_in" style="width:220px" /></li>
                <li><span>昵称备注</span>: <input name="nick_name" type="text" value="{ nick_name }" fill_in-name="昵称" class="px" style="width:220px" /></li>
            </ul>
        </form>
    </div>
</script>
<script>
    function get_qrcode() {
        l('get_qrcode', 'open');
        ajax('{pigcms::U("get_qrcode",array("token"=>$token))}', null, function(result) {
            if (result.status == 0) {
                layer.alert(result.info);
                return false;
            } else {
                layer.open({
                    title: '体验二维码',
                    type: 1,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['auto', 'auto'], //宽高
                    content: '<div style="margin:15px;"><img src="' + result.info + '" style="height:200px"></div>'
                });
            }
            l('get_qrcode', 'close');
        });
    }

    $(document).ready(function() {
        layui.use(['form', 'table'], function() {
            var form = layui.form;
            var table = layui.table;

            form.on('radio(type) ', function(data) {
                var e = data.elem;

                $(e).parents('.d-f-s ').parent('li ').addClass('selected ').siblings().removeClass('selected ');
            });

            table.on('tool(test)', function(obj) {
                if (obj.event === 'del') {
                    layer.confirm('您将要解绑此体验者', function(index) {
                        l('del_experiencer', 'open');
                        var data = {
                            'wecha_id': obj.data.wecha_id
                        };
                        ajax('{pigcms::U("add_experiencer",array("token"=>$token,"type"=>"unbundling"))}', data, function(result) {
                            layer.alert(result.info);
                            if (result.status == 1) {
                                layer.close(index);
                                obj.del();
                            }
                            l('del_experiencer', 'close');
                        });
                    });
                }
            });

            var addExperiencer = function() {
                var d = {
                        'wecha_id': '',
                        'nick_name': ''
                    },

                    html = new template($('#add_experiencer').html()),

                    tpl = html.render(d),
                    index = layer.open({
                        type: 1,
                        title: ['绑定体验者', 'background:#44b549;color:#fff;'],
                        area: ['460px', '200px'], //宽高
                        content: tpl,
                        btn: ['确定', '取消'],
                        yes: function(index) {
                            var is_fill_in_num = $(".is_fill_in").length,
                                is_lock = 0,
                                msg = '';
                            if (is_fill_in_num > 0) {
                                $(".is_fill_in").each(function(i, e) {
                                    if (is_lock == 0 && $(e).val() == '') {
                                        is_lock = 1;
                                        msg = $(e).attr('fill_in-name') + '必填';
                                    }
                                });
                            }
                            if (is_lock == 1) {
                                alert(msg);
                                return false;
                            }
                            var data = $('.applet').serialize();
                            ajax('{pigcms::U("add_experiencer",array("token"=>$token,"type"=>"binding"))}', data, function(result) {
                                layer.alert(result.info);
                                if (result.status == 1) {
                                    layer.close(index);
                                    table.reload('experiencer');
                                }
                            });
                        }
                    });
            }

            window.addExperiencer = addExperiencer;
        });
    });
</script>
